[role="tablist"] {
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.tabContainer {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #cccccc;
}

[role="tab"] {
  position: relative;
  margin: 0;
  overflow: visible;
  display: inline;
  cursor: pointer;
  padding-bottom: 10px;
}

[role="tab"][aria-selected="true"] {
  border-radius: 0;
  outline: 0;
  border-bottom: 1px solid blue;
  color: blue;
  font-weight: 500;
}

[role="tabpanel"] {
  position: relative;
  z-index: 2;
}

[role="tabpanel"] p {
  margin: 0;
}

[role="tabpanel"] * + p {
  margin-top: 1em;
}
