.tabsGroup {
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #cccccc;
}

.panelContainer {
  margin-top: 20px;
  text-align: left;
}

[role="tab"] {
  overflow: visible;
  display: inline;
  cursor: pointer;
  padding: 10px;
}

[role="tab"]:not(:last-child) {
  margin-right: 50px;
}

[role="tab"]:focus-visible {
  background: #cccccc;
  outline: none;
}

[role="tab"]:hover {
  color: rgb(0, 114, 229);
}

[role="tab"][aria-selected="true"] {
  border-bottom: 2px solid blue;
  color: blue;
  font-weight: 500;
}
